.Page-Header {
    font-feature-settings: normal;
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
}

.Div-Tab-Fade {
    margin-left: 50px;
    margin-right: 50px;
}

.Clock-Padding {
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.vertical-center {
    margin-top: 15px;
    padding-top: 3%;
}

.submit-form-border {
    border: 2px solid #81b4eb;
    border-radius: 2.5rem;
    color: #81b4eb;
    font-size: 1.5rem;
    font-weight: 400;
}

.radioclass {
    opacity: 0;
    /*cursor: pointer;*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

form .frame {
    display: flex;
    flex-flow: row nowrap;
}

form .frame input {
    display: none;
}

form .frame label {
    /*cursor: pointer;*/
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    background: #8ABA56;
    transition: all 0.3s ease-in-out;
    font-size: 12pt;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
}

form .frame label.radio {
    border-radius: 100%;
}

form .frame label.check {
    border-radius: 5px;
}

form .frame label .fa {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    transition: all 0.3s ease-in-out;
    line-height: 30px;
    text-align: center;
}

form .frame input:checked+label {
    background: #678b40;
}

form .frame input:checked+label .fa {
    opacity: 1;
    -webkit-transform: scale(1);
}

::selection {
    background: #333;
    color: #eee;
}

::-moz-selection {
    background: orange;
    color: #eee;
}

::-webkit-selection {
    background: deeppink;
    color: #eee;
}

body,
html,
button,
label,
.body-cursor {
    cursor: url('http://odfef978i.bkt.clouddn.com/Normal%20Select.cur'), auto;
}

input,
.text-cursor {
    cursor: url('http://odfef978i.bkt.clouddn.com/Text%20Select.cur'), text;
}

a,
.link-cursor {
    cursor: url('http://odfef978i.bkt.clouddn.com/link-cursor.cur'), pointer;
}

.scoll-cursor {
    cursor: url('http://odfef978i.bkt.clouddn.com/Alternate%20Select.cur'), pointer;
}

html {
    overflow-y: hidden;
}

#receive-box::-webkit-scrollbar {
    height: 0;
    width: 0;
}

#contact_message::-webkit-scrollbar {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent)
}